APP_NAME=MyApp
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

HTTP_PORT=80

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=events
DB_USERNAME=events
DB_PASSWORD=secret
DB_ROOT_PASSWORD=root_secret

DB_PORT_FORWARD=3306

QUEUE_CONNECTION=database
SESSION_DRIVER=cookie
CACHE_STORE=file

LOG_CHANNEL=stderr
LOG_LEVEL=debug

NEXT_PUBLIC_API_URL=http://localhost/api

API_URL=http://nginx/api
